<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>概要</title>
</head>
<body>
    <h1>PepTag_MSappの説明</h1>
    ペプチドタグのMS解析結果を集計してグラフやExcelファイルとして返します。<br>
    利用するには研究室の資料を参照して、測定結果のファイル(.xlsx)ごとにPre_Qシートを作成してください。<br>
    <p>
        <h2>①ファイルのアップロード</h2>
        「ファイルを選択」をクリックして、集計するファイル(.xlsx)を選択します。<br>
        「アップロード」をクリックするとファイルが集計対象のリストに入ります。<br>
        選択するファイルを誤った場合は個別または一括でリストから削除できるので、<br>
        同様の手順で登録しなおしてください。<br>
    </p>

    <p>
        <h2>②グラフの作成</h2>
        ①で集計対象としたファイルをPrecursor ionの種類ごとに平均します。<br>
        全てのionを測定回数で平均するため１回しか測定できていないionも含まれます。<br>
        Pre_Qシート以外は読み込むことが出来ないため集計することができません。<br>
        （解析したいExcelのシートをPre_Qという名前にすれば解析できるかも。）<br>
        ペプチドタグはChargeが"2"のもののみが描画されます。
    <p>
        1. グラフのタイトル：<br>
        グラフのタイトルを指定できます。英数字のみ対応。<br>
        18文字を越えたあたりからおさまりが悪くなります。<br>
        タイトルなしのグラフも作成可能です。<br>
    </p>
    <p>
        2. Proteome Discovererのバージョン：<br>
        バージョン毎に検出強度の呼び方が異なるため使用したバージョンを選択してください。<br>
        解析に使用したバージョンと異なるバージョンを選択するとエラーになります。
    </p>
    <p>
        3. 縦軸のオーダー：<br>
        ペプチドタグの精製試料と精製前の試料ではインジェクションされる量が異なるため、<br>
        検出強度を調整することでインジェクション量を実質的に同量にします。<br>
        精製試料では10000、精製前の試料では1000にすることを推奨します。<br>
    </p>
    <p>
        4. ケラチンの除去：<br>
        集計からケラチンを除きたかったらyesを押してください。<br>
        どっちでもいいと思います。<br>
    </P>
    <p>
        「グラフの作成」をクリックすると集計および散布図の作成を行います。
    </p>
    </p>

    <p>
        <h2>③Light/Heavyの集計</h2>
        PD13を使用した際に利用できます。<br>
        ペプチドタグのデータを抽出します。その後の統計解析はExcelで行ってください。<br>
        ペプチドタグの検出強度の最大値の抽出では、Modificationを無視して検出強度が最も高いものを抽出します。<br>
    </p>

</body>
</html>